DOMAIN=doing.seimo.cn
WEB_ALLOWED_ORIGIN=http://doing.seimo.cn
WEB_VITE_API_BASE_URL=/api/v1
WEB_VITE_WS_BASE_URL=/api/v1/ws
BACKEND_SERVER_HOST=0.0.0.0
BACKEND_SERVER_PORT=3030
WS_NAMESPACE=/api/v1/ws
PUBLIC_WS_URL=ws://doing.seimo.cn/api/v1/ws
TZ=Asia/Shanghai
